<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no"/>
    <title>管理后台</title>
</head>
<body>
<!--头部-->
<header class="top-nav-box b-green">
    <a class="top-nav-logo line-height-45 d-inlink c-fff">管理后台</a>
    <nav class="top-nav-account">
        <a class="account-icon iconfont line-height-45 c-fff d-none"></a>
        <a class="account-name line-height-45 d-inlink c-fff" id="admin-grade"></a>
        <ul class="dropdown-menu d-none">
            <li><a>退出</a></li>
        </ul>
    </nav>
</header>
<!--左边菜单栏-->
<aside id="left-menu" class="left-aside c-fff"></aside>
<section class="right-content">
    <!--右侧头部导航-->
    <div class="nav-right-content-top">
        <div id="left-move" class="tabnav-box tabnav-box-icon"></div>
        <div class="iframe-nav-box">
            <div class="tabnav-box welcome-home border-left-0 b-fff b-f6"><img
                    src="/Vendor/AdminUI/Images/Icon/home.png"/></div>
        </div>
        <div id="right-move" class="tabnav-box tabnav-box-icon right-40 border-right-0"></div>
        <div id="close-menu" class="tabnav-box tabnav-box-icon right-0 close-menu-icon">
            <div class="close-menu">
                <div id="close-now">关闭当前</div>
                <div id="close-all">关闭所有</div>
            </div>
        </div>
    </div>
    <!--右侧底部内容-->
    <div class="iframe-box">
        <iframe id="welcomePage"></iframe>
    </div>
</section>
<script src="/Vendor/AdminUI/adminUI.js"></script>
<script src="/Js/admin.js"></script>
<script>
    AdminUI.init(function () {
        AdminUI.buildFrame('/adminMenu.json');
    });
</script>
</body>
</html>
