<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
    <title>后台登陆</title>
</head>
<body>
<div class="login-box">
    <div class="header both-fringe">后台管理系统</div>
    <div class="login-content">
        <div class="login-content-box">
            <form class="" action="index.html" method="post">
                <div class="login-content-box2">
                    <div class="login-title">欢迎登陆</div>
                    <div class="login-input">
                        <input id="account" name="" type="text" placeholder="请输入账户名称" class=""></div>
                    <div class="login-input">
                        <input id="password" name="" type="password" placeholder="请输入账号密码" class="">
                    </div>
                    <div class="login-code">
                        <input class="" type="text" placeholder="验证码" value="">
                        <span id="kanbuq" href="javascript:;"> <img src="" alt="验证码"></span>
                    </div>
                    <div class="login-btn-box">
                        <span id="login-btn">登录</span>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="footer both-fringe">Copyright 你的公司名称 by H-ui.admin v3.1</div>
</div>
<script src="/Vendor/AdminUI/adminUI.js"></script>
<script src="/Js/admin.js"></script>
<script>
    AdminUI.init();
</script>
</body>
</html>
